default:
  image: mcr.microsoft.com/dotnet/sdk:5.0

stages:
  - build
  - test

build:
  stage: build
  script:
    - dotnet build

test-s14:
  stage: test
  before_script:
    - 'dotnet add package Xunit'
  script:
    - 'dotnet test Tests-s14/s14-api-testing.csproj'

test-s11:
  stage: test
  before_script:
    - 'dotnet add package Xunit'
  script:
    - 'dotnet test Tests-s11/Tests.csproj'


